body.landing {
  background-image: url(../assets/images/blurred_backgrounds/star_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.hero-content {
  position: relative;
  min-height: 600px;
  background-image: url(../assets/images/hero_pic.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-content .hero-title {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: rgb(233,50,117);
  text-shadow: 1px 1px 0px rgb(58,23,63);
}

.selling-points {
  position: relative;
}

.point {
  position: relative;
  padding: 2rem;
  text-align: center;
  opacity: 0;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
  -webkit-transition: all 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
  -moz-transition: all 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
  transition: all 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}

.point .point-title {
  font-size: 1.25rem;
}

.ion-music-note, .ion-radio-waves, .ion-iphone {
  color: rgb(233,50,117);
  font-size: 5rem;
}
